* {
    margin: 0;
    padding: 0;
   font-family: 'Cairo', sans-serif;
}

body {
    font-size: 10px;
}


/*---------------------
# Sección del navegador
----------------------*/

header {
    width: 100%;
    height: auto;
    margin: auto;
}

.bodyGeneral {
    width: 160em;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 45em;
    height: 10em;
    margin-top: 4em;
    background-color: #3D3D3D;
}

.logo_R{
    width: 50%;
    height: 5.9em;
    margin-top: 2em;
    margin-left: 1em;
    background-image: url(../img/Logo_R.png);
    background-size: cover;
    background-position: center;
    
}

.encabezado {
    width: 110em;
    height: 10em;
    margin-top: 4em;
    background-color: #FF2175;
    color: aliceblue;
}

.titulo_principal {
    color: aliceblue;
    font-size: 4.5em;
    margin-top: 0.2em;
    text-align: center;
}

@media only screen and (max-width: 1920px) {
    /* computadora 1920px */
    body {
        font-size: 8px;
   }
}
        

@media only screen and (max-width: 1600px) {
    /* Laptop 1600px */
    body {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 1366px) {
    /* Laptop */
    body {
        font-size: 7px;
    }
}


/*-------------------------
# Sección de los productos
-------------------------*/

section {
    width: 100%;
    height: auto;
}

.producto {
    width: 35em;
    height: 80em;
    margin-top: 10em;
}

.img {
    width: 100%;
    height: 20em;
    background-color: gray;
    box-shadow: 1px 5px 11px 3px rgba(184,184,184,1);
}

.imgRGB {
    background-image: url(../img/colores.jpg);
    background-size: cover;
    background-position: center;
}

.titulo {
    width: 100%;
    height: 10em;
    margin-top: 4em;
}

.titulo h1 {
    font-size: 3em;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.parrafo p {
    font-size: 2em;
    text-align: justify;
}


/*________________________________________*/


.producto_2 {
    width: 35em;
    height: 80em;
    margin-top: 10em;
}

.img {
    width: 100%;
    height: 20em;
    background-color: gray;
}

.forma {
    width: 100%;
    height: 20em;
    background-image: url(../img/formas.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 1px 5px 11px 3px rgba(184,184,184,1);
}

.titulo {
    width: 100%;
    height: 10em;
    margin-top: 4em;
}

.titulo h1 {
    font-size: 3em;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.parrafo p {
    font-size: 2em;
    text-align: justify;
}

/*___________________________________________*/

.producto_3 {
    width: 35em;
    height: 80em;
    margin-top: 10em;
}

.img {
    width: 100%;
    height: 20em;
    background-color: gray;
}

.letras {
    width: 100%;
    height: 20em;
    background-image: url(../img/letras.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 1px 5px 11px 3px rgba(184,184,184,1);
}

.titulo {
    width: 100%;
    height: 10em;
    margin-top: 4em;
}

.titulo h1 {
    font-size: 3em;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.parrafo p {
    font-size: 2em;
    text-align: justify;
}

/*__________________________________________*/


.producto_4 {
    width: 35em;
    height: 80em;
    margin-top: 10em;
}

.img {
    width: 100%;
    height: 20em;
    background-color: gray;
}

.img_caja {
    width: 100%;
    height: 20em;
    background-image: url(../img/imagen_cristal.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 1px 5px 11px 3px rgba(184,184,184,1);
}

.titulo {
    width: 100%;
    height: 10em;
    margin-top: 4em;
}

.titulo h1 {
    font-size: 3em;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.parrafo p {
    font-size: 2em;
    text-align: justify;
}



/*-------------------------
# Sección mobil
-------------------------*/

@media only screen and (max-width:767px) {
    .bodyGeneral {
        width: 95%;
    }
    .logo {
        width: 30%;
        height: 10em;
        margin-top: 4em;
    }
    .encabezado {
        width: 65%;
        height: 10em;
        margin-top: 4em;
        background-color: #168374;
    }
    .bodyContenido {
        display: block;
    }
    .producto {
        width: 100%;
    }
    .img {
        width: 100%;
        height: 50em;
        background-color: gray;
    }
}

















